body {
	background-color :d4e4e9;
	font-family: Helvetica ;
	width: 100%;
	text-align: center;
}

p{
	font-family: georgia ;
	color: ed254b;
}	
h1,h2,h3,h4,h5 {font-family : impact 
 ; font-size :72;
}